.a {
    background: rgb(102,217,239);
}
.a {
    background: rgb(82,227,246);
}
.a {
    background: rgb(253,151,31);
}
.a {
    background: rgb(166,226,46);
}
.a {
    background: rgb(230,219,116);
}
.a {
    background: rgb(180,180,250);
}
.a {
    background: rgb(21,43,102);
}
.a {
    background: rgb(249,38,114);
}
.a {
    background: rgb(227,233,230);
}
.a {
    background: rgb(153,0,0);
}